@inherits MustardBlack.Example.Areas.Example.Example.NewRazorViewPage
@{ Layout = "~/Areas/Example/Example/layout.cshtml"; }
@using MustardBlack.Example
@using MustardBlack.ViewEngines

<h1>Hello world</h1>
<p>My type is: @this.GetType()</p>
<p>My base type is: @this.GetType().BaseType</p>

@section sectionTest {
	<p>I'm inside a section</p>
}

<script csp-sha>
	console.log('hi');
</script>

<a title="@("<p>do i get \"encoded\" properly?</p>")">I'm an anchor with a funny title attribute</a>

@Html.Raw("<h2>I'm raw H2 HTML</h2>")

@("<b>I'm html encoded</b>")

@Html.RenderView("~/Areas/Example/Example/1337_partial.cshtml")

@{
    // is Linq automatically imported?
	Enumerable.Range(0, 1);

    var c = new System.Net.Cookie();
}
